* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191716;
    color: #fff;
    overflow: hidden;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.block-invite {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */

    .block-invite__content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-inline: 20px;

        .block-invite__title {
            position: relative;
            width: 100%;
            max-width: 420px;
            display: flex;
            justify-content: center;
        }
    
        h2 {
            text-transform: uppercase;
            margin-inline: 8px;
        }

        .block-invite__wrapper-invitation {
            display: flex;
            justify-content: center;
            gap: 30px;
            width: 100%;

            .block-invite__start-invitation, .block-invite__invitation-details {
                position: relative;
                left: 0;
                transition: left .6s ease;
                width: 100%;
                max-width: 480px;
                height: 100%;
                min-height: 464px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                background: rgba(88, 79, 75, 0.13);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(88, 79, 75, 0.3);
    
                h3, p {
                    width: 100%;
                    max-width: 336px;
                }
    
                img {
                    width: 144px;
                    height: 100%;
                    object-fit: cover;
                    border: 4px solid #09bbc3;
                    border-radius: 999px;
                }
    
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
    
                    input {
                    border: none;
                    border-radius: 4px;
                    background-color: #d6d6d6;
                    color: #191716;
                    padding: 4px;
                    }
    
                    button {
                        width: 100%;
                        max-width: 96px;
                        cursor: pointer;
                        border: none;
                        border-radius: 4px;
                        background-color: #09bbc3;
                        color: #191716;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 8px 24px;
                    }
    
                    button:hover, button:active {
                        filter: opacity(.5);
                        transition: filter .3s;
                    }
    
                    button[disabled] {
                        background-color: #626262;
                        cursor: default;
                    }
    
                    button[disabled]:hover, button[disabled]:active {
                        filter: unset;                    
                    }
                }            
            }

            .block-invite__invitation-details {                
                display: none;
                left: 200%;

                .block-invite__invitation-details__header {
                    display: flex;
                    gap: 20px;

                    img {
                        width: 76px;
                    }

                    .block-invite__invitation-details__description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 8px;
                    }
                }

                .block-invite__invitation-details__body {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;

                    .block-invite__invitation-tag {
                        padding-block: 8px;
                        background-color: #09bbc3;
                        border-radius: 6px;
                        text-transform: uppercase;
                        font-weight: 600;
                        width: 100%;
                    }

                    .block-invite__invitation-details__wrapper {
                        display: flex;
                        gap: 30px;
                        justify-content: center;
                        align-items: center;

                        img {
                            border: unset;
                        }

                        .block-invite__invitation-details__wrapper-description {
                            display: flex;
                            flex-direction: column;
                            text-align: justify;
                            gap: 8px;

                            p {
                                width: 100%;
                                max-width: 192px;
                            }
                        }
                    }

                    a {
                        padding: 8px 16px;
                        background-color: #fff;
                        text-decoration: none;
                        border-radius: 6px;
                        color: #191716;
                    }
                }

                .block-invite__invitation-details__footer {
                    p {
                        text-transform: uppercase;
                    }
                }
            }

            .block-invite__invitation-details.visible {
                left: 0;                
            }
    
            .block-invite__start-invitation.hidden {
                left: -200%;                
            }
        }        
    }
}